<?xml version="1.0"?>
<configuration>
    <configSections>
      <section name="MailSenderSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </configSections>
    <MailSenderSettings>
      <add key="EnableTls" value="true"/>
      <add key="SmtpServerAddress" value="smtp.office365.com"/>
      <add key="SmtpServerPortNumber" value="587"/>
      <add key="SmtpUserName" value="craig.walls@parapet.com.au"/>
      <add key="SmtpUserPassword" value="K!NGk0ng"/>
    </MailSenderSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>